{% extends 'todo_list/index.html' %}
{% load i18n static compress bootstrap3 %}

{% block content %}
{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}
{# Form errors #}
{% bootstrap_form_errors form %}

<form class="form" role="form" action="." method="post">
  {% csrf_token %}
  {% bootstrap_form form %}
  {% buttons %}
    <button type="submit" formnovalidate class="btn btn-default" name="cancel" value="Cancel">Cancel</button>
    <button type="submit" class="btn btn-primary" name="add">{% bootstrap_icon "plus" %} Save & Continue</button>
    <button type="submit" class="btn btn-primary" name="return">{% bootstrap_icon "star" %} Save & Return</button>
  {% endbuttons %}
</form>
{% endblock %}
