{% load i18n bootstrap3 staticfiles compress %}
{% block content %}
{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

    <div class="row">

                <div class="col-xs-7 col-sm-5 col-md-3 col-lg-3 col-md-offset-7 col-sm-offset-5 col-xs-offset-0 col-lg-offset-7">
                <form method="get" action="{% url 'todo-list:index' %}">
                    <select name="filter" id="filter" class="form-control" onchange="this.form.submit()">
                        <option value="#">Select a subject...</option>
                        {% for subject in unique_action_subject_list %}
                            <option value="{{ subject.subject }}">{{ subject.subject }}</option>
                        {% endfor %}
                    </select>
                </form>
                </div>
                <div class="col-xs-3 col-sm-2 col-md-2 col-lg-2 col-md-offset-0 col-sm-offset-0 col-xs-offset-2 col-lg-offset-0">
                <form action="{% url 'todo-list:create' %}">
                    {% bootstrap_button 'Add new action' button_type='submit' button_class='btn btn-primary pull-right' %}
                </form>
                </div>
        </div>

    <div class="row">
        <table class="table table-hover">
    <thead>
    <tr>
        {% for field in fields %}
            {% if forloop.first %}
                <th class="text-center">{{ field | upper }}</th>
            {% else %}
                <th>{{ field | upper }}</th>
            {% endif %}
        {% endfor %}
        <th>ARCHIVE</th>
    </tr>
    </thead>
    {% for action in object_list %}
        <tr class='clickable-row' data-href="{% url 'todo-list:detail' action.id %}">
            <td class="text-center">
                {% if action.completed %}
                    <span class="glyphicon glyphicon-ok"></span>
                {% else %}
                    <span class="glyphicon glyphicon-remove"></span>
                {% endif %}
            </td>
            <td>{{ action.created }}</td>
            <td>{{ action.description }}</td>
            <td>{{ action.subject }}</td>
            <td>{{ action.filed }}</td>
            <td class="text-center">
                <a href="{% url 'todo-list:remove' action.id %}"><span class="glyphicon glyphicon-trash"></span></a>
            </td>
        </tr>
    {% endfor %}
    </table>

    {% if is_paginated %}
        <div class="text-center">
            <ul class="pagination pagination-md">
        {% if pages.has_previous %}
        <li>
            <a href="{% url 'todo-list:page' pages.previous_page_number  %}" aria-label="Next">
                <span aria-hidden="true" class="glyphicon glyphicon-chevron-left"></span>
            </a>
        </li>
        {% endif %}
        {% for page in pages.pages_to_show %}
              {% if page == -1 %}
                  <li class="disabled">
                      <a href="#">
                          <span class="glyphicon glyphicon-option-horizontal"></span>
                      </a>
                  </li>
              {% elif page == pages.number %}
                <li class="{% if pages.number == page  %}active{% endif %}">
                    <a href="{% url 'todo-list:page' page %}">{{ page }}</a>
                </li>
              {% else %}
                <li>
                    <a href="{% url 'todo-list:page' page %}">{{ page }}</a>
                </li>
              {% endif %}
        {% endfor %}
        {% if pages.has_next %}
        <li>
            <a href="{% url 'todo-list:page' pages.next_page_number  %}" aria-label="Next">
                <span aria-hidden="true" class="glyphicon glyphicon-chevron-right"></span>
            </a>
        </li>
        {% endif %}
    </ul>
        </div>
    {% endif %}
    </div>

{% endblock %}