{% load compress static i18n bootstrap3 %}
<meta name="description" content="{% block meta_description %}{{ description | default:"Meta description" }}{% endblock %}">
<meta name="keywords" content="{% block meta_keywords %}{{ keywords | default:"Meta keywords" }}{% endblock %}">
<meta name="author" content="{% block meta_author %}{{ author | default:"Meta author" }}{% endblock %}">

<title>{% block title %}{{ title | default:"Seennt" }}{% endblock %}</title>

<link rel="apple-touch-icon" sizes="180x180" href="{% static "apple-touch-icon.png" %}">
<link rel="icon" type="image/png" sizes="32x32" href="{% static "favicon-32x32.png" %}">
<link rel="icon" type="image/png" sizes="16x16" href="{% static "favicon-16x16.png" %}">
<link rel="manifest" href="{% static "manifest.json" %}">
<link rel="mask-icon" color="#5bbad5" href="{% static "safari-pinned-tab.svg" %}">
<meta name="theme-color" content="#ffffff">
