{% load i18n bootstrap3 static compress %}
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <!-- NAVIGATION Display menu items -->
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

        <a class="navbar-brand" href="/">
            <span><img src="{% static "img/logo.png" %}" width="50" class="img-circle" alt="Company logo"></span>
            seennt
        </a>

        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-right">
            <ul class="nav navbar-nav navbar-right">

            <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Sites <b class="caret"></b></a>
                <ul class="dropdown-menu dropdown-menu-left">
                {% for item in sites %}
                    {% if item.site %}
                        {% if item.glyphicon %}
                        <li class="{% if request.get_full_path|slice:'1:'|slice:'-1' == item.name %}active{% endif %}">
                            <a href="{% url item.name|add:':index' %}"><span class="glyphicon glyphicon-{{ item.glyphicon }}"></span>{{ item.verbose_name }}</a>
                        </li>
                        {% else %}
                        <li class="{% if request.get_full_path|slice:'1:'|slice:'-1' == item.name %}active{% endif %}">
                            <a href="{% url item.name|add:':index' %}">{{ item.verbose_name }}</a>
                        </li>
                        {% endif %}
                    {% endif %}
                {% endfor %}
                </ul>
            </li>

            {% for item in labels %}
                {% if not item.site %}
                        {% if item.glyphicon %}
                        <li class="{% if request.get_full_path|slice:'1:'|slice:'-1' == item.name %}active{% endif %}">
                            <a href="{% url item.name|add:':index' %}"><span class="glyphicon glyphicon-{{ item.glyphicon }}"></span>{{ item.verbose_name }}</a>
                        </li>
                        {% else %}
                        <li class="{% if request.get_full_path|slice:'1:'|slice:'-1' == item.name %}active{% endif %}">
                            <a href="{% url item.name|add:':index' %}">{{ item.verbose_name }}</a>
                        </li>
                        {% endif %}
                {% endif %}
            {% endfor %}
            </ul>
        </div><!-- /.navbar-collapse -->
    </div>
</nav>