{% load i18n bootstrap3 staticfiles compress %}
<!-- SASS Generated css file -->
{% compress css %}
<link rel="stylesheet" type="text/x-scss" href="{% static 'scss/system.scss' %}" />
{% endcompress %}

<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<link href="{% static 'css/ie10-workaround.css' %}" rel="stylesheet">

<!--CUSTOM CSS -->
<link rel="stylesheet" type="text/css" href="{% static "css/main.css" %}" />
{% block css %}{% endblock %}

<!-- Google fonts -->
<link href="https://fonts.googleapis.com/css?family=Baloo+Bhaina" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Baloo+Bhaina|Dosis" rel="stylesheet">